// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

.custom-logo-link img {
    max-width: 150px;
}

.wrapper-footer {
    background: $primary;
}

@media (min-width: 1200px) {
    .wrapper-header .container, .wrapper-footer .container {
        max-width: 1440px;
    }
}
