.admin-bar .fixed-top {
    top: 32px;
}

body {
    padding-top: 75px;
}

.wrapper-header {
    background: $cyan;
    box-shadow: 0px 3px 25px -15px rgba(0,0,0,.2);
}

.custom-logo-link img {
    max-width: 180px;
}

.wrapper {
    padding: 0;
}

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{
    padding: .625em 2em;
}

.wrapper-footer {
    background: $cyan;
    font-family: "Khula", Sans-serif;
    padding: 3em 0 0 0;
}

.woocommerce-wrapper .site-main {
    background: #FFF;
    padding: 2em;
}

.footer-navbar {
    display: flex;
    flex-direction: row;
}

.navbar-nav {
    padding: 0 1.5em;
}

.navbar {
    align-items: start;
}

.site-footer {
    font-family: "Khula", Sans-serif;
    padding: 2em 0 1em 0;
    font-size: .85em;
    background: rgba(0,0,0,.09);
    color: #fff;
    text-align: center;
    margin: 4em 0 0 0;
}

.site-info {
    max-width: 1140px;
    margin: 0 auto;
    padding: 2em 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.85);
    font-weight: bold;
}

.btn-primary, .btn-secondary {
    color: #FFF;
}

.newsletter-box {
    color: #FFF;
    font-size: 1.4em;
    padding: 1em 0;
}

.newsletter-box input {
    font-family: "Khula", Sans-serif;
    box-sizing: border-box;
    height: 48px;
    border: 1px solid #47B3F9;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.05);
}

.social-box {
    padding:1em;
}

.social-box li a {
    color: #FFF;
}

.social-box ul {
    list-style: none;
    margin:0;
}
.social-box li {
    padding: .4em;
    margin:0;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    padding: 2.5em 1.25em 1.25em 1.25em;
    margin: 2em 0;
    text-align: left;
    border: 1px solid $primary;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.05);
}

.woocommerce label {
    font-size: 1.25em;
    margin: .25em 0 0 0;
    font-weight: bold;
    color: $primary;
}

.woocommerce h2 {
    font-family: "Vollkorn", Sans-serif;
    font-weight: bold;
    color: $primary;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    font-family: "Khula", Sans-serif;
    box-sizing: border-box;
    border: 1px solid $primary;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.05);
    padding:.625em;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
    .custom-logo-link img {
        padding-right: 2em;
    }
}
